<div id="ControlView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:0px; margin-top:0px;">
                    <el-image :src="require('@/assets/control_panel.png')" style="width:9%;height:9%;left: -165px;bottom: 3px;"></el-image>
                    <h6 style="display: inline; font-weight: bolder; position: absolute; left: 43px;top: 7px">Overview</h6>
            </div>
        </div>
        <div class="card-block" id="videoPlayerContainer">
            <div class="labelsContainer">
                <div class="filterDiv">
                    <div class="select">
                        <span class="toolName" style="top: 8px; left:0px">Dataset</span>
                        <el-select v-model="dataset" filterable placeholder="" size="mini"
                                   style="width: 120px; margin-top: 12px;left:0px">
                            <el-option
                                    v-for="item in datasets"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="select">
                        <span class="toolName" style="top: 8px;left: 0px">Day Types</span>
                        <el-select v-model="valueOfDate" filterable placeholder="" size="mini"
                                   style="width: 120px; margin-top: 12px;left:0px">
                            <el-option
                                    v-for="item in dates"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="periods">
                        <span class="toolName">Time Interval</span>
                        <el-slider
                                v-model="value"
                                range
                                :step="1"
                                :max="6"
                                :show-tooltip="false"
                                :marks="marks"
                                style="margin-top:8px; margin-left: 12%; margin-right: 12%;height: 50px;">
                        </el-slider>
                    </div>
                    <el-button type="info" plain size="mini" v-on:click="display"
                               style="position:absolute;top:140px;left:10%;width: 80%;height: 30px">Load
                    </el-button>
                </div>
                <div class="divider" style="top:8%" v-show="load">
                    <svg width="340" height="30">
                        <line x1="0" x2="340" y1="15" y2="15" style="stroke:grey;stroke-width: 1px;opacity: 0.5;"></line>
                    </svg>
                </div>
                <div class="timeDiv">
                    <svg id="temporalView"></svg>
                </div>
                <el-button type="info" plain size="mini" v-on:click="startAlgorithm" v-show="load"
                           style="position:absolute;top:610px;left:10%;width: 80%;height: 30px">Start
                </el-button>
                <div class="gridDiv" v-show="load">
                    <svg id="gridView"></svg>
                </div>
                <div class="divider" style="top:8%" v-show="load">
                    <svg width="340" height="30">
                        <line x1="0" x2="340" y1="15" y2="15" style="stroke:grey;stroke-width: 1px;opacity: 0.5;"></line>
                    </svg>
                </div>
                <div class="legendDiv" v-show="load">
                    <svg id="legendView"></svg>
                </div>
<!--                <div style="margin-top:20%;">-->
<!--                    <span class="toolName" style="margin-left: 1%">Level of Map</span>-->
<!--                    <el-input-number v-model="level" :min="1" :max="3" label="level" size="mini"-->
<!--                                     style="margin-top:10px;margin-left:8%;width: 90px"></el-input-number>-->
<!--                    <el-button type="info" plain size="mini" v-on:click="display"-->
<!--                               style="margin-left:6%;margin-top:2%;width: 50px">set-->
<!--                    </el-button>-->
<!--                </div>-->

                <div id="my_dataviz"></div>
            </div>
        </div>
    </div>
</div>