<div id="ControlView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:0px; margin-top:0px;">
                    <el-image :src="require('@/assets/control_panel.png')" style="width:9%;height:9%;left: -165px;bottom: 3px;"></el-image>
                    <h6 style="display: inline; font-weight: bolder; position: absolute; left: 40px;top: 7px">Control Panel</h6>
            </div>
        </div>
        <div class="card-block" id="videoPlayerContainer">
            <div class="labelsContainer">
                <div class="divide1">
                    <div class="select1">
                        <span class="toolName" style="top: 8px; left:6px">Dataset</span>
                        <el-select v-model="dataset" filterable placeholder="" size="mini"
                                   style="width: 72px; margin-top: 12px;left:0px">
                            <el-option
                                    v-for="item in datasets"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="select2">
                        <span class="toolName" style="top: 8px;left: 0px">Day Types</span>
                        <el-select v-model="valueOfDate" filterable placeholder="" size="mini"
                                   style="width: 105px; margin-top: 12px;left:-10px">
                            <el-option
                                    v-for="item in dates"
                                    :key="item"
                                    :label="item"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                    <span class="toolName" style="top:2%;left:6px">Time Interval</span>
                    <div class="periods">
                        <el-slider
                                v-model="value"
                                range
                                :step="1"
                                :max="6"
                                :show-tooltip="false"
                                :marks="marks"
                                style="margin-top:-8%; margin-left: 7%; margin-right: 13%;height: 50px;">
                        </el-slider>
                    </div>
                    <el-button type="info" plain size="mini" v-on:click="display"
                               style="position:absolute;top:130px;left:10px;width: 180px;height: 28px">Load
                    </el-button>
                </div>
                <div class="divide2">
                    <svg id="legend"></svg>
                </div>
<!--                <div style="margin-top:20%;">-->
<!--                    <span class="toolName" style="margin-left: 1%">Level of Map</span>-->
<!--                    <el-input-number v-model="level" :min="1" :max="3" label="level" size="mini"-->
<!--                                     style="margin-top:10px;margin-left:8%;width: 90px"></el-input-number>-->
<!--                    <el-button type="info" plain size="mini" v-on:click="display"-->
<!--                               style="margin-left:6%;margin-top:2%;width: 50px">set-->
<!--                    </el-button>-->
<!--                </div>-->

                <div id="my_dataviz"></div>
            </div>
        </div>
    </div>
</div>