<div id="TemporalView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:0px; margin-top:0px;">
                <el-image :src="require('@/assets/temporalView.jpeg')" style="width:5.5%;height:5.5%;left: -250px;bottom: 3px;"></el-image>
                <h6 style="display: inline;font-weight: bolder; position: absolute; left: 40px;top: 7px">Temporal View</h6>
                <el-button type="info" plain size="mini" v-on:click="startAlgorithm"
                           style="position: absolute;width: 80px;height: 30px;left: 1000px;top: 2px">Start
                </el-button>
            </div>
        </div>

        <div class="card-block" id="textContainer">
            <svg id = 'timeView'></svg>
        </div>
    </div>

</div>
