<div id="faceview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-right:40px">
                <h6 style="display: inline; user-select: none">Map View</h6>
                <span style="margin-left: 10px">Show aggregated region</span>
                <el-checkbox v-model="mode" style="margin-left: 5px;font-weight: bold;"></el-checkbox>
                <span style="margin-left: 10px">Num of comparison</span>
                <el-select v-model="number" filterable placeholder="" size="mini"
                           style="width: 70px;height: 30px;left:-10px;padding-left: 15px;padding-bottom: 20px">
                    <el-option
                            v-for="item in choice"
                            :key="item"
                            :label="item"
                            :value="item">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="card-block" id="faceContainer">
            <div id="mapDiv"></div>
        </div>
    </div>

</div>
