<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>pipe</title>-->
<!--    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"-->
<!--          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="-->
<!--          crossorigin=""/>-->
<!--    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"-->
<!--            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="-->
<!--            crossorigin=""></script>-->
<!--    <script src="heatmap.js"></script>-->
<!--    <script src="leaflet-heatmap.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="mapid" style="height: 600px"></div>-->
<!--<script src="data.js" type="text/javascript"></script>-->
<!--<script>-->
<!--    let type_list = ['钢筋混凝土管'];-->
<!--    let radius_mm = 800;-->

<!--    let testData = {-->
<!--        max: 13,-->
<!--        data: [{lat: 22.707887324262501, lng: 113.888108749775384, count: 1},-->
<!--            {lat: 22.727887324262501, lng: 113.888108749775384, count: 2}]-->
<!--    };-->


<!--    let cfg = {-->
<!--        // radius should be small ONLY if scaleRadius is true (or small radius is intended)-->
<!--        // if scaleRadius is false it will be the constant radius used in pixels-->
<!--        "radius": 0.01,-->
<!--        "maxOpacity": .8,-->
<!--        // scales the radius based on map zoom-->
<!--        "scaleRadius": true,-->
<!--        // if set to false the heatmap uses the global maximum for colorization-->
<!--        // if activated: uses the data maximum within the current map boundaries-->
<!--        //   (there will always be a red spot with useLocalExtremas true)-->
<!--        "useLocalExtrema": true,-->
<!--        // which field name in your data represents the latitude - default "lat"-->
<!--        latField: 'lat',-->
<!--        // which field name in your data represents the longitude - default "lng"-->
<!--        lngField: 'lng',-->
<!--        // which field name in your data represents the data value - default "value"-->
<!--        valueField: 'count'-->
<!--    };-->


<!--    let heatmapLayer = new HeatmapOverlay(cfg);-->


<!--    heatmapLayer.setData(testData);-->
<!--    let baseLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {-->
<!--        maxZoom: 13,-->
<!--        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +-->
<!--            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +-->
<!--            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',-->
<!--        id: 'mapbox/streets-v11',-->
<!--        tileSize: 512,-->
<!--        zoomOffset: -1-->
<!--    })-->
<!--    let mymap = new L.Map('mapid', {-->
<!--        center: new L.LatLng(22.75190354731786, 113.91390510319258),-->
<!--        zoom: 13,-->
<!--        layers: [baseLayer, heatmapLayer]-->
<!--    });-->


<!--    function onEachFeature(feature, layer) {-->
<!--        var popupContent = "" + feature.geometry.coordinates-->

<!--        // if (feature.properties && feature.properties.popupContent) {-->
<!--        //     popupContent += feature.properties.popupContent;-->
<!--        // }-->

<!--        layer.bindPopup(popupContent);-->
<!--    }-->

<!--    L.geoJSON(pipes, {-->

<!--        // filter: function (feature, layer) {-->
<!--        //     if (feature.properties) {-->
<!--        //         // If the property "underConstruction" exists and is true, return false (don't render features under construction)-->
<!--        //         return feature.properties.underConstruction !== undefined ? !feature.properties.underConstruction : true;-->
<!--        //     }-->
<!--        //     return false;-->
<!--        // },-->
<!--        style: function (feature) {-->
<!--            feature.properties.PIPE_MM-->
<!--            switch (feature.properties.PIPE_KIND) {-->
<!--                case '钢筋混凝土管': {-->
<!--                    if (type_list.indexOf('钢筋混凝土管') !== -1 && feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#002aff', weight: 4}-->
<!--                    else-->
<!--                        return {opacity: 0}-->
<!--                }-->
<!--                case '球墨铸铁管': {-->
<!--                    if (type_list.indexOf('球墨铸铁管') !== -1 && feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#ff001e', weight: 4}-->
<!--                    else-->
<!--                        return {opacity: 0}-->
<!--                }-->
<!--                case '钢管': {-->
<!--                    if (type_list.indexOf('钢管') !== -1 && feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#ecc606', weight: 4}-->
<!--                    else-->
<!--                        return {opacity: 0}-->
<!--                }-->
<!--                case 'NULL': {-->
<!--                    if (type_list.indexOf('NULL') !== -1 && feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#e600ff', weight: 4}-->
<!--                    else-->
<!--                        return {opacity: 0}-->
<!--                }-->
<!--                case 'PE管': {-->
<!--                    if (type_list.indexOf('PE管') !== -1 && feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#44ff00', weight: 4}-->
<!--                    else-->
<!--                        return {opacity: 0}-->
<!--                }-->
<!--                default: {-->
<!--                    if (feature.properties.PIPE_MM <= radius_mm)-->
<!--                        return {color: '#ff7700', weight: 4}-->
<!--                }-->
<!--            }-->
<!--        },-->
<!--        onEachFeature: onEachFeature-->
<!--    }).addTo(mymap);-->
<!--    L.geoJSON(points, {-->
<!--        style: function (feature) {-->
<!--            return feature.properties && feature.properties.style;-->
<!--        },-->

<!--        onEachFeature: onEachFeature,-->

<!--        pointToLayer: function (feature, latlng) {-->
<!--            return L.circleMarker(latlng, {-->
<!--                radius: 3,-->
<!--                fillColor: "#0a0a0a",-->
<!--                color: "#000",-->
<!--                weight: 1,-->
<!--                opacity: 1,-->
<!--                fillOpacity: 0.8-->
<!--            });-->
<!--        }-->
<!--    }).addTo(mymap)-->


<!--</script>-->
<!--</body>-->
<!--</html>-->