<div id="StatisticView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:0px; margin-top:0px;">
                <el-image :src="require('@/assets/statisticsView.png')"
                          style="width:12%;height:12%;left: -120px;bottom: 3px;"></el-image>
                <h6 style="display: inline;font-weight: bolder; position: absolute; left: 40px;top: 7px">Statistic
                    View</h6>
            </div>
        </div>
        <div class="card-block" id="StatisticViewContainer">
            <svg id="comparison">
            </svg>
        </div>
    </div>
</div>