<div id="StatisticView">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:0px; margin-top:0px;">
                <el-image :src="require('@/assets/statisticsView.png')"
                          style="width:12%;height:12%;left: -120px;bottom: 3px;"></el-image>
                <h6 style="display: inline;font-weight: bolder; position: absolute; left: 40px;top: 7px">Statistic
                    View</h6>
                <span style="position: absolute; left: 180px; top: 8px">In Order</span>
                <el-checkbox v-model="inOrder" style="left: 231px;top: 5px; font-weight: bold;position: absolute;"></el-checkbox>
            </div>
        </div>
        <div class="card-block" id="StatisticViewContainer">
            <div id="regionContainer">
                <svg id="regionComparison"></svg>
            </div>
            <div id="nodeContainer">
                <svg id="nodeComparison"></svg>
            </div>
        </div>
    </div>
</div>