<div id="videoview">
    <div class="card">
        <div class="card-header">
            <div style="float: left; margin-left:10px; margin-top:6px;">
                <h6 style="display: inline; user-select: none">Control View</h6>
            </div>
        </div>
        <div class="card-block" id="videoPlayerContainer">
            <div class="labelsContainer">
                <span class="toolName">User Id</span>
                <el-select v-model="valueOfUser" filterable placeholder="Please select" size="mini">
                    <el-option
                            v-for="item in users"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>

                <span class="toolName">Date</span>
                <el-select v-model="valueOfDate" filterable placeholder="Please select" size="mini">
                    <el-option
                            v-for="item in dates"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <div style="height: 20px"></div>
                <el-button size="mini" type="primary" v-on:click="display">Display</el-button>
            </div>
        </div>
    </div>
</div>